In [34]:
import pandas as pd
import matplotlib.pyplot as plt

df_org = pd.read_csv("../../data\\raw\\cars_contactcars.csv")
df_detailed = pd.read_csv("../../data\\raw\\detailed_urls_data.csv")

df_detailed.head(15)

,URL,Color,Body_type,Fuel_type,Engine_cc
0,contactcars.com/ar/used-cars/kia-sportage/edfd...,Gray,SUV,Gas,1600.0
1,contactcars.com/ar/used-cars/mercedes-glc_200/...,White,Coupe,Hybrid,2000.0
2,contactcars.com/ar/used-cars/audi-q3/163c428395f5,Black,Hatchback,Gas,1400.0
3,contactcars.com/ar/used-cars/hyundai-elantra_c...,NaN,NaN,NaN,NaN
4,contactcars.com/ar/used-cars/renault-clio/ac43...,Silver,Sedan,Gas,1600.0
5,contactcars.com/ar/used-cars/peugeot-2008/4235...,White,Hatchback,Gas,1600.0
6,contactcars.com/ar/new-cars/changan-uni_v/for-...,White,Sedan,Gas,1500.0
7,contactcars.com/ar/used-cars/mercedes-c200/9ba...,Black,Sedan,Hybrid,1500.0
8,contactcars.com/ar/new-cars/mg-zs/for-sale/8ec...,Silver,SUV,Gas,1500.0
9,contactcars.com/ar/used-cars/opel-grand_land/5...,Black,SUV,Gas,1600.0
10,contactcars.com/ar/new-cars/mercedes-c200/for-...,Black,Sedan,Gas,1500.0
11,contactcars.com/ar/used-cars/bmw-218i/8e47e37c...,Blue,Sedan,Gas,1500.0
12,contactcars.com/ar/used-cars/nissan-sentra/401...,Black,Sedan,Gas,1600.0
13,contactcars.com/ar/used-cars/kia-sportage/2d9c...,Gray,SUV,Gas,1600.0
14,contactcars.com/ar/new-cars/changan-cs55_plus/...,Silver,SUV,Gas,1500.0

In [35]:
df_main = pd.concat([df_org, df_detailed], axis=1)
df_main.shape

(3050, 12)

In [36]:
df_main.drop(columns=["Details_URL", "URL"], inplace=True)
df_main.head()

,Model_name,Price,Manufacturer,Condition,Type,Distance,Color,Body_type,Fuel_type,Engine_cc
0,كيا سبورتاج 2024,"1,925,000 ج.م.",كيا,مستعملة,أوتوماتيك,"19,600 كم",Gray,SUV,Gas,1600.0
1,مرسيدس GLC 200 2020,"3,250,000 ج.م.",مرسيدس,مستعملة,أوتوماتيك,"56,000 كم",White,Coupe,Hybrid,2000.0
2,أودي Q3 2025,"2,650,000 ج.م.",أودي,مستعملة,أوتوماتيك,"6,000 كم",Black,Hatchback,Gas,1400.0
3,هيونداى النترا CN7 2024,"1,275,000 ج.م.",هيونداى,مستعملة,أوتوماتيك,"7,000 كم",NaN,NaN,NaN,NaN
4,رينو كليو 2005,"190,000 ج.م.",رينو,مستعملة,أوتوماتيك,"186,000 كم",Silver,Sedan,Gas,1600.0

In [10]:
df_main.to_csv("../../data/raw/original_dataset.csv", encoding="utf-8-sig", index=False)

In [37]:
# Feature Engineering
import re

years = df_main['Model_name'].tolist()
modified_years = []

for year in years:
    year_only = re.search(r'\b(19|20)\d{2}\b', year)
    modified_years.append(year_only.group())

df_main['Year_model'] = pd.Series(modified_years)
df_main.head()

,Model_name,Price,Manufacturer,Condition,Type,Distance,Color,Body_type,Fuel_type,Engine_cc,Year_model
0,كيا سبورتاج 2024,"1,925,000 ج.م.",كيا,مستعملة,أوتوماتيك,"19,600 كم",Gray,SUV,Gas,1600.0,2024
1,مرسيدس GLC 200 2020,"3,250,000 ج.م.",مرسيدس,مستعملة,أوتوماتيك,"56,000 كم",White,Coupe,Hybrid,2000.0,2020
2,أودي Q3 2025,"2,650,000 ج.م.",أودي,مستعملة,أوتوماتيك,"6,000 كم",Black,Hatchback,Gas,1400.0,2025
3,هيونداى النترا CN7 2024,"1,275,000 ج.م.",هيونداى,مستعملة,أوتوماتيك,"7,000 كم",NaN,NaN,NaN,NaN,2024
4,رينو كليو 2005,"190,000 ج.م.",رينو,مستعملة,أوتوماتيك,"186,000 كم",Silver,Sedan,Gas,1600.0,2005

In [38]:
list_of_car_names = df_main['Year_model'] + " " + df_main['Manufacturer']
list_of_model_names = df_main['Model_name']
differences = []

for i in range(len(list_of_car_names)):
    words1 = list_of_car_names[i].split()
    words2 = list_of_model_names[i].split()

    diff = [word for word in words2 if word not in words1]
    res = " ".join(diff)
    differences.append(res)

df_main["Car_name"] = pd.Series(differences)
df_main.head()

,Model_name,Price,Manufacturer,Condition,Type,Distance,Color,Body_type,Fuel_type,Engine_cc,Year_model,Car_name
0,كيا سبورتاج 2024,"1,925,000 ج.م.",كيا,مستعملة,أوتوماتيك,"19,600 كم",Gray,SUV,Gas,1600.0,2024,سبورتاج
1,مرسيدس GLC 200 2020,"3,250,000 ج.م.",مرسيدس,مستعملة,أوتوماتيك,"56,000 كم",White,Coupe,Hybrid,2000.0,2020,GLC 200
2,أودي Q3 2025,"2,650,000 ج.م.",أودي,مستعملة,أوتوماتيك,"6,000 كم",Black,Hatchback,Gas,1400.0,2025,Q3
3,هيونداى النترا CN7 2024,"1,275,000 ج.م.",هيونداى,مستعملة,أوتوماتيك,"7,000 كم",NaN,NaN,NaN,NaN,2024,النترا CN7
4,رينو كليو 2005,"190,000 ج.م.",رينو,مستعملة,أوتوماتيك,"186,000 كم",Silver,Sedan,Gas,1600.0,2005,كليو

In [39]:
new_order = ["Model_name", "Year_model", "Manufacturer","Car_name", "Type", "Condition","Distance", "Color", "Body_type", "Fuel_type", "Engine_cc", "Price"]

df_main_ordered = df_main.reindex(columns=new_order)

df_main_ordered.head()

,Model_name,Year_model,Manufacturer,Car_name,Type,Condition,Distance,Color,Body_type,Fuel_type,Engine_cc,Price
0,كيا سبورتاج 2024,2024,كيا,سبورتاج,أوتوماتيك,مستعملة,"19,600 كم",Gray,SUV,Gas,1600.0,"1,925,000 ج.م."
1,مرسيدس GLC 200 2020,2020,مرسيدس,GLC 200,أوتوماتيك,مستعملة,"56,000 كم",White,Coupe,Hybrid,2000.0,"3,250,000 ج.م."
2,أودي Q3 2025,2025,أودي,Q3,أوتوماتيك,مستعملة,"6,000 كم",Black,Hatchback,Gas,1400.0,"2,650,000 ج.م."
3,هيونداى النترا CN7 2024,2024,هيونداى,النترا CN7,أوتوماتيك,مستعملة,"7,000 كم",NaN,NaN,NaN,NaN,"1,275,000 ج.م."
4,رينو كليو 2005,2005,رينو,كليو,أوتوماتيك,مستعملة,"186,000 كم",Silver,Sedan,Gas,1600.0,"190,000 ج.م."

In [40]:
df_main_ordered["Distance"] = df_main_ordered["Distance"].fillna("0 كم")

df_main_ordered["Distance"] = df_main_ordered["Distance"].str.replace(",", "")
df_main_ordered["Distance"] = df_main_ordered["Distance"].str.replace("كم", "").astype("int64")

df_main_ordered["Distance"].dtype

dtype('int64')

In [41]:
df_main_ordered = df_main_ordered.dropna()
df_main_ordered.isna().sum()

Model_name      0
Year_model      0
Manufacturer    0
Car_name        0
Type            0
Condition       0
Distance        0
Color           0
Body_type       0
Fuel_type       0
Engine_cc       0
Price           0
dtype: int64

In [42]:
with open("../../data/lists/car_brands.txt", 'a', encoding='utf-8-sig') as f:
    for brand in df_main_ordered.sort_values(by="Manufacturer")["Manufacturer"].unique():
        f.write(brand + "\n")

In [52]:
from pathlib import Path
import os
import re

data_list = Path(os.getcwd()).resolve().parents[1] / "data" / "lists"
data_list.mkdir(parents=True, exist_ok=True)

dict_car_names = (
    df_main_ordered.groupby("Manufacturer")["Car_name"]
    .agg(list)
    .to_dict()
)

dict_car_types = (
    df_main_ordered
    .groupby(["Manufacturer", "Car_name"])["Body_type"]
    .unique()
    .to_dict()
)

def clean_name(name):
    return re.sub(r'\s+', ' ', str(name).strip())

for manufacturer in dict_car_names:

    manufacturer_dir = data_list / clean_name(manufacturer)
    manufacturer_dir.mkdir(exist_ok=True)

    file_path = manufacturer_dir / f"{clean_name(manufacturer)}.txt"

    with open(file_path, "w", encoding="utf-8-sig") as f:
        for car_name in sorted(set(dict_car_names[manufacturer])):

            body_types = dict_car_types.get(
                (manufacturer, car_name), []
            )

            body_types = sorted(set(map(str, body_types)))

            if body_types:
                f.write(f"{car_name} : {', '.join(body_types)}\n")
            else:
                f.write(f"{car_name} : Unknown\n")

print("Done")

Done

In [15]:
df_main_ordered["Color"].describe()

mode = df_main_ordered["Color"].mode()[0]

df_main_ordered["Color"] = df_main_ordered["Color"].fillna(mode)
df_main_ordered["Color"].describe()

count      3050
unique       21
top       Black
freq        806
Name: Color, dtype: object

In [58]:
engine_cc = df_main_ordered["Engine_cc"].unique().tolist()
with open(data_list / "engine_cc.txt", 'a', encoding='utf') as f:
    for num in engine_cc:
        f.write(str(num) + "\n")

In [18]:
df_main_ordered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2818 entries, 0 to 3049
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model_name    2818 non-null   object
 1   Year_model    2818 non-null   object
 2   Manufacturer  2818 non-null   object
 3   Car_name      2818 non-null   object
 4   Type          2818 non-null   object
 5   Condition     2818 non-null   object
 6   Distance      2818 non-null   int64
 7   Color         2818 non-null   object
 8   Body_type     2818 non-null   object
 9   Fuel_type     2818 non-null   object
 10  Engine_cc     2818 non-null   float64
 11  Price         2818 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 286.2+ KB

In [19]:
df_main_ordered["Price"] = df_main_ordered["Price"].str.replace(",", "")
df_main_ordered["Price"] = df_main_ordered["Price"].str.replace("ج.م.", "").astype(int)

df_main_ordered["Price"]

0       1925000
1       3250000
2       2650000
4        190000
5        950000
         ...
3044    2890000
3045    6360000
3047     800000
3048    7600000
3049     740000
Name: Price, Length: 2818, dtype: int64

In [20]:
df_main_ordered["Year_model"] = df_main_ordered["Year_model"].astype("int64")
df_main_ordered["Type"] = df_main_ordered["Type"].astype("category")
df_main_ordered["Condition"] = df_main_ordered["Condition"].astype("category")

In [21]:
df_main_ordered["Type"].dtype

CategoricalDtype(categories=['أوتوماتيك', 'مانيوال'], ordered=False, categories_dtype=object)

In [22]:
df_main_ordered.head()

,Model_name,Year_model,Manufacturer,Car_name,Type,Condition,Distance,Color,Body_type,Fuel_type,Engine_cc,Price
0,كيا سبورتاج 2024,2024,كيا,سبورتاج,أوتوماتيك,مستعملة,19600,Gray,SUV,Gas,1600.0,1925000
1,مرسيدس GLC 200 2020,2020,مرسيدس,GLC 200,أوتوماتيك,مستعملة,56000,White,Coupe,Hybrid,2000.0,3250000
2,أودي Q3 2025,2025,أودي,Q3,أوتوماتيك,مستعملة,6000,Black,Hatchback,Gas,1400.0,2650000
4,رينو كليو 2005,2005,رينو,كليو,أوتوماتيك,مستعملة,186000,Silver,Sedan,Gas,1600.0,190000
5,بيجو 2008 2020,2008,بيجو,2020,أوتوماتيك,مستعملة,52757,White,Hatchback,Gas,1600.0,950000

In [23]:
df_main_ordered.to_csv("../../data//processed/cleaned_cars_data.csv",encoding="utf-8-sig", index=False)